@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
    
* {
    font-family: 'Josefin Sans';
    font-weight: 700;
}
    html {
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
        margin: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(#246396, white);
    }
    
    .intro {
        color: rgb(224, 224, 224);
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    h1 {
        font-size: 90px;
        color: rgb (46, 53, 50);
    }
    
    .tutorial {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    
    #myBtn {
        width: 150px;
        height: 30px;
        background: none;
        border: none;
        background-color: rgb(85, 144, 224, 1);
        font-size: 20px;
        color: rgb(255, 255, 255);
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 10%;
        outline: none;
        transition-timing-function: linear;
        transition-duration: 0.5s;
        transition-property: color;
    }
    
    #button:hover {
        color: white
    }
    
    .modal-content {
        text-align: justify;
        background-color: #444242;
        margin: 25% auto;
        /* 45% from the top and centered */
        padding: 10px;
        border: 1px solid #888;
        width: 40%;
    }
    
    .close {
        color: rgb(255, 1, 1);
        float: unset;
        font-size: 20px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .description {
        font-size: 18px;
        margin-left: 25%;
        margin-right: 25%;
        text-align: justify;
        color: rgb(0, 0, 0);
    }
    
    #button {
        font-weight: bolder;
        font-size: 20px;
        width: 120px;
        height: 30px;
        background: none;
        border: none;
        background-color: rgb(205, 219, 3);
        font-size: 25px;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
        color: rgb(14, 14, 2);
        transition-timing-function: linear;
        transition-duration: 0.1s;
        transition-property: color;
    }
    
    .coluna {
        display: flex;
        flex-direction: row;
    }
    
    .jogo {
        display: flex;
    }
    
    .jogo .coluna .venceu p {
        text-align: center;
    }
    
    .block {
        width: 40px;
        height: 245px;
        border: 2px solid black;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        cursor: pointer;
        border-top: 0px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-left: 2px;
    }
    
    #player {
        font-weight: 700;
        font-size: 20px;
        padding-top: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .player_red {
        color: red;
    }
    
    .peça {
        width: 35px;
        height: 35px;
        border-radius: 100px;
        background: radial-gradient(rgb(75, 74, 74), black);
        margin-top: 1px;
        margin-bottom: 3px;
        animation-name: pretinhas;
        animation-duration: 1s;
        position: relative;
    }

    @keyframes pretinhas {
        0% {
            top: -100px;
        }
        100% {
            top: 0px;
        }
    }
    
    .peça2 {
        width: 35px;
        height: 35px;
        border-radius: 100px;
        background: radial-gradient(rgb(253, 97, 97), rgb(192, 1, 1));
        margin-top: 1px;
        margin-bottom: 3px;
        animation-name: vermelhinhas;
        animation-duration: 1s;
        position: relative;
    }
    @keyframes vermelhinhas {
        0% {
            top: -100px;
        }
        100% {
            top: 0px;
        }
    }

    .peçaWin_red {
        width: 35px;
        height: 35px;
        border-radius: 100px;
        background: radial-gradient(rgb(253, 97, 97), rgb(192, 1, 1));
        margin-top: 1px;
        margin-bottom: 3px;
        border: 3px solid white;
    }

    .peçaWin_black {
        width: 35px;
        height: 35px;
        border-radius: 100px;
        background: radial-gradient(rgb(75, 74, 74), black);
        margin-top: 1px;
        margin-bottom: 3px;
        border: 3px solid white;
    }
    
    #venceu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        text-transform: uppercase;
        animation-name: reset;
        animation-duration: 1s;
        position: relative;

        transition: opacity 0.8s ease-in-out;
        opacity: 1;
    }

    #venceu.fade {
        opacity: 0;
    }
    @keyframes reset {
        0% {
            top: -100px;
        }
        100% {
            top: 0px;
        }
    }
    
    #reset {
        font-size: 20px;
        color: white;
        width: 190px;
        height: 40px;
        background-color: rgb(177, 11, 20);
        border-radius: 10px;
        cursor: pointer;
    }

    .bolinha_preta {
        width: 30px;
        height: 30px;
        margin-right: 6px;
        border-radius: 100%;
        background: radial-gradient(rgb(75, 74, 74), black);
    }

    .bolinha_vermelha {
        width: 30px;
        height: 30px;
        margin-right: 6px;
        border-radius: 100%;
        background: radial-gradient(rgb(253, 97, 97), rgb(192, 1, 1));
    }

    .inv {
        z-index: 1;
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }